@import '../../components/styles/Global.scss';

.exam__container{
  text-align: center;
}

.exam__input{
  margin-top:$padding-secondary;
  margin-bottom:$height-principal;
  border-radius: $border-search;
  width:90%;
  height: $font-size-nameSearch;
  padding-left: $border-principal;
  text-align: center;
  font-size:$font-size-principal;
}

.exam__list{
  display: grid;
  grid-template-columns:repeat( auto-fit, minmax($size-card-width, 1fr) );
  grid-gap: $padding-principal;
  justify-items: center;
  align-items: center;
}