@import '../../components/styles/Global.scss';

.login{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 140px);
  min-height: 376px;
  padding:$padding-principal 0;
}

.login__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $primary-color-2;
  width: calc(100% - 15%);
  border-radius: 0 $border-principal;
  padding: $padding-secondary;
  margin: $border-principal 0;
  box-shadow: 3px 3px 7px 3px rgba(0,0,0,0.3);
}

.login__user{
  position: absolute;
}

.login__container{
  width: 100%;
  justify-content: center;
  display: flex;
}

.login__user-icon{
  position: relative;
  top: -58px;
  left: -92px;
}

.login__input{
  display: block;
  background-color: $background-color;
  width: 100%;
  border-radius: 0 $border-principal;
  padding: $padding-principal $padding-secondary;
  border: $top-border solid $primary-color-3;
  margin-bottom: 10px;
  font-size: $font-size-principal;
  outline: none;

  background-repeat: no-repeat;
  background-position: 4px center;
  background-size: 15px;
  background-position-x: 10px;
}

.login__error{
  color:$background-color-form;
  margin-bottom: 5px;
}

.login__input-user{
  background-image: url(../../assets/images/user-solid.svg);
}

.login__input-psw{
  background-image: url(../../assets/images/lock-solid.svg);
}

.login__button{
  background-color: $secondary-color-3;
  border: 1px solid $secondary-color-1;
  border-radius:  0 $border-principal;
  padding: 7px $border-principal;
  font-size: $font-size-principal;
  color: $font-color;
  font-weight: 700;
  margin: 3px;
  cursor:pointer;
  box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.3);
}

.login__link{
  text-decoration: none;
  color: $primary-color-1;
  font-size: $font-size-secondary;
  cursor: pointer;
  font-weight: 500;
}

@media (min-width:758px){
  .login-container{
    width:60%;
    display: flex;
    justify-content: center;
  }
}