@import '../styles/Global.scss';

.CircleButton{
  background-color: #0094A7;
  border-radius:50%;
  height: 50px;
  width: 50px;
  color: white;
  font-size: 24px;
  margin:30px;
  position: fixed;
  bottom: 45px;
  right: 20px;
  box-shadow: 0px 0px 2px 13px rgba(0,0,0,0.10);
  display: flex;
  justify-content: center;
  align-items: center;
}