@import '../../atoms/Global.scss';

.footerMobile{
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: $top-border;
  border-top-color: $border-box-color;
  border-top-style: solid;
}

.footerMobile__container{
  background-color: $background-color;
  width:100%;
  height:$height-principal;
}

.footerMobile__icons{
  position: absolute;
  display: grid;
  grid-template-columns: repeat( 4, minmax(80px, 1fr) );
  width: 100%;
  top: $top-menu;
}

.footerMobile__icons li a.active{
  color:$secondary-color-1;
  box-shadow: 4px 4px 5px -6px rgba(0,0,0,0.46);
}

.footerMobile__item{
  display: grid;
  grid-template-rows: 70% 30%;
  justify-content: center;
  color:$font-disabled;
  text-decoration:none;
}
.footerMobile__img {
  display: grid;
  justify-content: center;
}

.footerMobile__description{
  font-size:$font-size-menuMobile;
}

