@import '../../components/styles/Global.scss';

.exam-patient{
    @include form__section;
}

.exam-patient__title,
.exam-result__title{
    @include form__title;
}

.exam-patient__grid{
    display: grid;
    grid-template-columns: 100px 1fr;
}

.exam-patient__photo > img{
    width: 100px;
}

.exam-patient__data{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    padding: 10px;
    color: $font-color;
}

.exam-patient__data > span{
    display: block;
    width: 100%;
}

.exam-result{
    @include form__section;
}

.exam-result__label {
    @include form__label;
}

.exam-result__name{
    @include form__control;
}

.exam-result__name:focus{
    @include form__control-focus
}

.exam-result__result{
    @include form__textarea;
}

.exam-result__label:focus,
.exam-result__result:focus{
    @include form__textarea-focus;
}

.upload-result__buttons{
    @include form__buttons;
}

.upload-result__btn-primary{
    @include form__btn-primary;
}

.upload-result__btn-secondary{
    @include form__btn-secondary;
}