@import '../../components/styles/Global.scss';

.patient-info__data{
    padding-left: 5px;
}

.patient-info__item{
    justify-content: center;
    padding-right:10px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

.patient__blood{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    align-items:center;
}