@import '../styles/Global.scss';

.App{
    position: relative;
}

main{
    padding: $top-menu;
    color: $font-color;
    padding-bottom: $height-secondary;
    margin: $height-principal auto 0px auto ;
}
