@import '../../components/styles/Global.scss';

.user-info, 
.user-auth, 
.user-contact{
    @include form__section;
}

.user-info__title,
.user-auth__title,
.user-contac_title{
    @include form__title
}

.user-info__grid{
    display: grid;
    grid-template-columns: 100px 1fr;
}

.user-info__data,
.user-info__dni{
    padding-left: 5px;
}

.user-info__dni{
    padding-top: 1px;
}
.user-info__gender{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 15px auto 10px auto;
    width: 200px;
}

.user-auth__buttons{
    @include form__buttons;
}

.user-auth__btn-primary{
    @include form__btn-primary;
}

.user-form__buttons{
    @include  form__section;
    @include form__buttons;
}

.user-form__btn-primary{
    @include form__btn-primary;
}

.user-form__btn-secondary{
    @include form__btn-secondary;
}