  //forms
  .form-section{
    background-color: $background-color-form;
    padding: 10px;
    border-radius: 0 $border-principal;
    margin-bottom: 10px;
  }

  .form-section__title{
    font-size: $font-size-form-title;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .form-group{
    position: relative;
    margin-bottom: 1.5rem;
  }
  
  .form-input, .form-select{
    display: block;
    width: 100%;
    background-color: $background-color-form;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: $input-border-color;
    border-bottom-width: 1px;
    margin-bottom: 20px;
    outline: 0;
    font-size: $font-size-principal;
    cursor: text;
    color: $font-color;
  }

  .form-input{
    padding: 10px 5px 5px 5px;
    margin-bottom: 5px;
  }

  .form-select{
    padding: 10px 5px 5px 2px;
  }

  .form-input:focus, .form-select:focus{
    border-bottom-color: $input-border-color_onfocus;
  }

  .form-placeholder{
    position: absolute;
    top: 0;
    padding: 10px 0 0 5px;
    transition: all 200ms;
    opacity: 1;
    color: $font-placeholder;
  }
  
  .form-select[readonly="true"] + .form-placeholder,
  .form-select:valid + .form-placeholder, 
  .form-select:focus + .form-placeholder,  
  .form-input[readonly="true"] + .form-placeholder,
  .form-input:valid + .form-placeholder, 
  .form-input:focus + .form-placeholder {
    font-size: 75%;
    transform: translate3d(0, -82%, 0);
    color: $primary-color-2;
  }
  
  .form-section__buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
  }
  
  .form-button{
    font-size: $font-size-principal;
    border-radius:  0 $border-principal;
    padding: 7px $border-principal;
    font-size: $font-size-principal;
    color: $font-color;
    font-weight: 700;
    margin: 3px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    min-width: 120px;
    margin-bottom: 15px;
  }
  
  .primary{
    background-color: $primary-color-2;
    color:$button-font-color;
  }

  .secondary{
    background-color: $secondary;
    color: $button-font-color;
  }