// Color
$primary-color-1:#004C8C;
$primary-color-2:#0277BD;
$primary-color-3:#58A5F0;
$secondary-color-1:#0094A7;
$secondary-color-2:#25C5D8;
$secondary-color-3:#6EF8FF;

$background-color: #f2f2f2;
$background-color-main:#e4eaed;
$background-color-card:white;
$background-color-form:#fff;

$border-box-color: #D0D3D4;
$font-color:#17202a;
$font-disabled:#616871;
$font-placeholder: #888;

$color-great:#08A660;
$color-nogreat:#A62611;

// size
$top-border:1px;
$top-menu:16px;
$height-principal:50px;
$height-secondary:70px;
$padding-principal:10px;
$padding-secondary:30px;
$border-principal:15px;
$border-search:22px;
$size-img-height:5.2em;
$size-card-width: 100%;

// font
$font-size-nameSearch:2.5rem;
$font-size-nameCard:1.1rem;
$font-size-dni:0.9rem;
$font-size-profile:0.9rem;
$font-size-principal:1rem;
$font-size-secondary:0.8em;
$font-size-menuMobile:0.5rem;
$font-size-principal:1em;
$font-size-secondary:0.8em;
$font-size-dashboard-item: 1.1em;
$font-size-form-title: 1.1em;

//dashboard-items
$size_item_icon: 24px;
$size_item_togo: 12px; 

//buttons
$primary: $secondary-color-3;
$secondary: #808080;
$button-font-color: #fff;

//form
$input-border-color: #ccc;
$input-border-color_onfocus: $primary-color-3;