// Color
$primary-color-1:#004C8C;
$primary-color-2:#0277BD;
$primary-color-3:#58A5F0;

$secundary-color-1:#0094A7;
$secundary-color-2:#25C5D8;
$secundary-color-3:#6EF8FF;

$background-color: #f2f2f2;


$border-box-color: #D0D3D4;
