@import '../../atoms/Global.scss';

.App{
    position: relative;
    display: flex;
}

main{
    background-color: $background-color-main;
    flex: 1;
    box-sizing: border-box;
    padding: $top-menu;
    color: $font-color;
    margin-top: $height-principal;
    padding-bottom: $height-secondary;
}