@import '../styles/Global.scss';

.footerMobile{
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: $top-border;
  border-top-color: $border-box-color;
  border-top-style: solid;
}

.footerMobile__container{
  background-color: $background-color;
  width:100%;
  height:$height-principal;
}

.footerMobile__icons{
  position: absolute;
  display: grid;
  grid-template-columns: repeat( 4, minmax(80px, 1fr) );
  width: 100%;
  top: $top-menu;
}

.footerMobile__icons li a.active{
  color:$font-color;
  border-bottom: 2px solid $primary-color-1;
  padding-bottom: 3px;
  border-bottom-left-radius: $border-principal;
  border-bottom-right-radius: $border-principal;
}

.footerMobile__item{
  display: grid;
  grid-template-rows: 70% 30%;
  justify-content: center;
  color:$font-disabled;
  text-decoration:none;
}
.footerMobile__img {
  display: grid;
  justify-content: center;
}

.footerMobile__description{
  font-size:$font-size-menuMobile;
}

@media (min-width: 600px) {
  .footerMobile__description {
    font-size: 0.8rem;
    }
  .footerMobile__icons{
    top: 8px;
  }
  .footerMobile__img{
    font-size: 1.3rem;
  }
}


