@import '../../atoms/Global.scss';

.headerMobile{
  position: fixed;
  top: 0;
  width: 100%;
}

.headerMobile__content{
  position: absolute;
  top:15px;
  display:grid;
  grid-template-columns: 10% 75% 15%;
  width:100%;
}

.headerMobile__content li{
  display: grid;
  justify-content: center;
  color:$primary-color-2;
}

.headerMobile__content li a{
  color:$primary-color-2;
  text-decoration: none;
}

.box{
  background-color: $background-color;
  width:100%;
  height:50px;
}