@import '../../components/styles/Global.scss';

.patient-info{
    display: grid;
    grid-template-columns: 100px 1fr;
}

.patient-info__photo>img{
    width: 100px;
}

.patient-info__data{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    padding: 10px;
    color: $font-color;
}

.patient-info__data>span{
    display: block;
    width: 100%;
}
